* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: $font-size;
    color: $font-color;
    font-family: $font-family;
}

ul, li {
    list-style: none;
}

a {
    text-decoration: none;
}

.container {
    width: 1000px;
    margin: 0 auto;
}