$font-size: 10px;
$font-btn: 0.8rem;
$font-color: #4D4D4D;
$font-color-secundary: #fff;
$font-family: 'Poppins';
$font-segoe: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
$gradient: linear-gradient(to right, #F4627C , #B539A8);