$font-size: 10px;
$font-p: .9rem;
$font-h1: 2.5rem;
$font-h2: 1.8rem;
$font-h3: 1.4rem;
$font-h4: 1.1rem;
$font-btn: 0.75rem;
$font-color: #4D4D4D;
$font-color-secundary: #fff;
$font-family: 'Poppins';
$font-segoe: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
$gradient: linear-gradient(to right, #F4627C , #B539A8);