.blog{
    padding: 50px 0;
    background-color: #FBFBFB;
    h3{
        font-size: $font-h3;
        font-weight: lighter;
    }
    h2{
        font-size: $font-h2;
        color: #0f3553;
        font-weight: lighter;
    }
    &__noticias{
        @include display_flex-row();
        padding: 50px 0;
        div{
            width: 30%;
            .blog__imagem{
                width: 100%;
            }
        }
        h4{
            font-size: $font-h4;
        } 
        p{
            font-size: $font-p;
            padding: 30px 0;
        }
    }
    &__button{
        display: flex;
        justify-content: center;
        .button{
            width: 115.5px;
            height: 45.44px;
        }
    }
}