.depoimentos{
    background-image: $gradient;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
    padding: 50px 0;
    h3{
        font-size: $font-h3;
        font-weight: lighter;
    }
    &__depoimento{
        width: 650px;
        text-align: center;
    }
    &__conteudo{
        font-size: $font-p;
        width: 800px;
        margin: 50px auto;
    }
    .slider{
        width: 26%;
        img{
            width: 60px;
            padding-top: 10px;
        }
        p{
            text-align: center;
        }
    }
    .slider-for{
        width: 100%;
    }
    .slick-slide{
        margin: 0px 5px;
    }
    .slick-slide {
        transition: all ease-in-out .3s;
    }
    .slick-current img {
        width: 74px;
        padding-top: 0;
        padding-right: 5px;
    }
    .slider-element img{
        margin: 0 auto;
    }
}