.header {
    margin-top: 25px;
    .logo {
        @include display_flex-row();
        height: 36px;
        &__contato {
            @include display_flex-row();
            width: 380px;
            padding: 15px 0 0 0;
            li{
                display: flex;
                .icone{
                    width: 20px;
                    margin-right: 10px;
                }
            }
        }
    }
    .navbar {
        height: 72px;
        padding-top: 20px;
        @include display_flex-row();
        &__list {
            padding-top: 10px;
            @include display_flex-row();
            width: 604px;
            &-link{
                text-transform: uppercase;
                color: $font-color;
                font-size: .9rem;
            }
        }
        &__btn {
            border-radius: 7px;
            a{
                color: white;
            }
        }
    }
}