.header {
    margin-top: 25px;
    .logo {
        @include display_flex-row();
        height: 36px;
        h1{
            color: #E35787;
            font-size: 1.9rem;
            font-weight: lighter;
        }
        &__contato {
            @include display_flex-row();
            font-size: 0.75rem;
            width: 350px;
            padding: 10px 50px 0 0;
        }
    }
    .navbar {
        height: 72px;
        padding-top: 20px;
        @include display_flex-row();
        &__list {
            padding-top: 10px;
            @include display_flex-row();
            width: 604px;
            font-size: 0.875rem;
            &-link{
                text-transform: uppercase;
                color: $font-color;
            }
        }
        &__btn {
            border-radius: 7px;
            font-size: 0.75rem;
        }
    }
}