.instituicoes{
    background-color: #FBFBFB;
    padding: 50px 0;
    h2{
        color: #0F3553;
    }
    &__secao{
        font-weight: lighter;
    }
    &__titulo{
        color: rgb(15, 53, 83);
        font-weight: lighter;
    }
    &__conteudo{
        display: flex;
        margin: 25px 0;
        background-color: #fff;
        h4{
            padding-bottom: 15px;
            color: #0F3553;
        }
        .col-1-de-2{
            width: 51%;
            img{
                width: 100%;
            }
            div{
                padding: 20px 30px;
            }
        }
        .col-2-de-2{
            width: 49%;
        }
    }
    &__projeto{
        &:hover{
            background-color: #B73AA6;
            border-color: #B73AA6;
            color: white;
            transition: all .8s;
            h4{
                color: white;
            }
        }
    }
    &__bloco{
        display: flex;
        padding: 20px 30px;
        border: 1px solid #FBFBFB;
        div{
            padding-left: 20px;
        }
        &-img{
            width: 110px;
            height: 100px;
        }
    }
    &__button{
        display: flex;
        justify-content: center;
        h3{
            color: white;
            text-align: center;
            padding-bottom: 15px;
        }
        img{
            width: 90px;
            height: 80px;
        }
        .modal{
            &__blocos{
                background-color: #fff;
            }
            &__projeto{
                padding: 30px 20px;
                display: flex;
                justify-content: space-around;
                align-items: center;
                border: 1px solid rgb(241, 241, 241);
                &:hover{
                    background-color: #B73AA6;
                    border-color: #B73AA6;
                    color: white;
                    transition: all .8s;
                    h4{
                        color: white;
                    }

                    .visit__btn {
                        color: #B73AA6;
                        background: #fff;
                    }
                }
                div{
                    width: 400px;
                    padding: 0 20px;
                    h4{
                        color: #0F3553;
                    }
                }
            }
        }
    }
}