.quem-somos{
    &__logo{
        text-align: center;
    }
    &__sobre{
        padding: 40px 0;
        @include display_flex-row();
        &-img{
            height: 300px;
        }
        &-conteudo{
            @include display_flex-column();
            padding-left: 110px;
            h3{
                font-size: $font-h3;
                font-weight: lighter;
                span{
                    font-size: 1.8rem;
                    color: #0F3553;
                }
            }
            p{
                font-size: $font-p;
                padding: 25px 0;
            }
        }
    }
    &__passos{
        @include display_flex-row();
        font-size: $font-p;
        text-align: center;
        padding: 50px 0;
        div{
            margin: 0 15px;
            &:hover{
                transform: scale(1.02);
                
                box-shadow: 2px 2px rgba(236, 236, 236, 0.856);
            }
        }
        h3{
            color: #0F3553;
            padding: 20px 0;
        }
        h5{
            padding: 40px 0;
        }
        hr{
            border: 0.5px solid rgba(236, 236, 236, 0.856);
        }
    }
}